
    @media only screen and (min-width:1400px) {
      .container {
        max-width: 1400px;
      }
    }

    @media only screen and (min-width:1200px) and (max-width:1399px) {
      .container {
        max-width: 1399px;
      }
    }

    @media only screen and (min-width:992px) and (max-width:1199px) {
      .container {
        max-width: 1199px;
      }
    }

    @media only screen and (min-width:768px) and (max-width:991px) {
      .container {
        max-width: 991px;
      }
    }

    .custom-container {
      margin-left: auto;
      margin-right: auto;
    }

    @media only screen and (min-width:1400px) {
      .custom-container {
        max-width: 1400px;
      }
    }

    @media only screen and (min-width:1200px) and (max-width:1399px) {
      .custom-container {
        max-width: 1399px;
      }
    }

    @media only screen and (min-width:992px) and (max-width:1199px) {
      .custom-container {
        max-width: 1199px;
      }
    }

    @media only screen and (min-width:768px) and (max-width:991px) {
      .custom-container {
        max-width: 991px;
      }
    }

    @media only screen and (max-width:767px) {
      .custom-container {
        max-width: 767px;
      }
    }

    @media only screen and (min-width:480px) and (max-width:767px) {
      .custom-container {
        max-width: 767px;
      }
    }

    @media only screen and (min-width:576px) and (max-width:767px) {
      .custom-container {
        max-width: 767px;
      }
    }

    .btn-group-sm>.btn,
    .btn-sm {
      font-size: 15px;
      padding: 0.15rem 0.500rem;
      border-radius: 5px;
    }

    .btn-sx {
      font-size: 13px;
      padding: 0.15rem 0.500rem;
      border-radius: 0px;
    }

    .btn-round {
      border-radius: 50rem !important;
    }

    .btn-group-lg>.btn.btn-round,
    .btn-lg.btn-round {
      padding: 11px 22px;
    }

    .btn-group-sm>.btn.btn-round,
    .btn-sm.btn-round {
      padding: 0.1rem 0.5rem;
    }

    .btn-dark {
      color: #ffffff;
      background-color: #000080;
      border-color: #ff0000;
      box-shadow: 0px 0px 0 0px #3a496b;
    }
  
    .btn-dark:hover {
      color: #ffffff;
      background-color: #000080;
      border-color: #fff;
    }


    .btn-check:focus+.btn-dark,
    .btn-dark:focus {
      color: #ffffff;
      background-color: #000080;
      border-color: #fff;
    }

    .btn-check:checked+.btn-dark,
    .btn-check:active+.btn-dark,
    .btn-dark:active,
    .btn-dark.active,
    .show>.btn-dark.dropdown-toggle {
      color: #ffffff;
      background-color: #1d2124;
      border-color: #171a1d;
    }

    .btn-dark:disabled,
    .btn-dark.disabled {
      color: #ffffff;
      background-color: #fff;
      border-color: #fff;
    }

.btn-red {
      color: #ffffff;
      background-color: #ff0000;
      border-color: #fff;
      box-shadow: 0px 0px 0 0px #3a496b;
    }
    .btn-red:hover {
      color: #ffffff;
      background-color: #000080;
      border-color: #fff;
    }
    .btn-success {
      color: #202329;
      background-color: #2ecc4a;
      border-color: #2ecc4a;
    }

    .btn-success:hover {
      color: #ffffff;
      background-color: #218838;
      border-color: #1e7e34;
    }

    .btn-check:focus+.btn-success,
    .btn-success:focus {
      color: #ffffff;
      background-color: #000080;
      border-color: #1e7e34;
    }

    .btn-check:checked+.btn-success,
    .btn-check:active+.btn-success,
    .btn-success:active,
    .btn-success.active,
    .show>.btn-success.dropdown-toggle {
      color: #ffffff;
      background-color: #000080;
      border-color: #1c7430;
    }

    .btn-success:disabled,
    .btn-success.disabled {
      color: #ffffff;
      background-color: #000080;
      border-color: #2ecc4a;
    }

    .element-heading-wrapper i {
      width: 2.5rem;
      height: 2.5rem;
      background-color: #0369c7;
    }
